src/flows/Workflow_Rule_Clone-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Fields Are Blank</label>
        </rules>
    </decisions>
    <description>Clone of the SetOnInsert workflow rule - use to test the difference in CPU time between the two</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead].Test_Test_Field_8__c + &apos;A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_1_A1_Test_Test_Field_8_c</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Test_Test_Field_8__c} + &apos;A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead].Test_Test_Field_9__c + &apos;A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_1_A1_Test_Test_Field_9_c</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Test_Test_Field_9__c} + &apos;A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead].Test_Test_Field_10__c + &apos;A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_Test_Test_Field_10_c</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Test_Test_Field_10__c} + &apos;A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead].Test_Test_Field_1__c + &apos;A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_Test_Test_Field_1_c</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Test_Test_Field_1__c} + &apos;A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead].Test_Test_Field_2__c + &apos;A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_Test_Test_Field_2_c</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Test_Test_Field_2__c} + &apos;A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead].Test_Test_Field_3__c + &apos;A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_Test_Test_Field_3_c</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Test_Test_Field_3__c} + &apos;A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead].Test_Test_Field_4__c + &apos;A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_Test_Test_Field_4_c</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Test_Test_Field_4__c} + &apos;A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead].Test_Test_Field_5__c + &apos;A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_Test_Test_Field_5_c</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Test_Test_Field_5__c} + &apos;A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead].Test_Test_Field_6__c + &apos;A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A1_Test_Test_Field_6_c</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Test_Test_Field_6__c} + &apos;A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead].Test_Test_Field_7__c + &apos;A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_1_A1_Test_Test_Field_7_c</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Test_Test_Field_7__c} + &apos;A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISBLANK([Lead].Test_Test_Field_1__c) &amp;&amp; ISBLANK([Lead].Test_Test_Field_2__c) &amp;&amp; ISBLANK([Lead].Test_Test_Field_3__c) &amp;&amp; ISBLANK([Lead].Test_Test_Field_4__c) &amp;&amp; ISBLANK([Lead].Test_Test_Field_5__c) &amp;&amp; ISBLANK([Lead].Test_Test_Field_6__c) &amp;&amp; ISBLANK([Lead].Test_Test_Field_7__c) &amp;&amp; ISBLANK([Lead].Test_Test_Field_8__c) &amp;&amp; ISBLANK([Lead].Test_Test_Field_9__c) &amp;&amp; ISBLANK([Lead].Test_Test_Field_10__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!myVariable_current.Test_Test_Field_1__c}) &amp;&amp; ISBLANK({!myVariable_current.Test_Test_Field_2__c}) &amp;&amp; ISBLANK({!myVariable_current.Test_Test_Field_3__c}) &amp;&amp; ISBLANK({!myVariable_current.Test_Test_Field_4__c}) &amp;&amp; ISBLANK({!myVariable_current.Test_Test_Field_5__c}) &amp;&amp; ISBLANK({!myVariable_current.Test_Test_Field_6__c}) &amp;&amp; ISBLANK({!myVariable_current.Test_Test_Field_7__c}) &amp;&amp; ISBLANK({!myVariable_current.Test_Test_Field_8__c}) &amp;&amp; ISBLANK({!myVariable_current.Test_Test_Field_9__c}) &amp;&amp; ISBLANK({!myVariable_current.Test_Test_Field_10__c})</expression>
    </formulas>
    <interviewLabel>Workflow_Rule_Clone-2_Lead</interviewLabel>
    <label>Workflow Rule Clone</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Lead Fields</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Test Field 10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Test_Field_10__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_Test_Test_Field_10_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Test Field 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Test_Field_1__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_Test_Test_Field_1_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Test Field 2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Test_Field_2__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_Test_Test_Field_2_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Test Field 3</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Test_Field_3__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_Test_Test_Field_3_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Test Field 4</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Test_Field_4__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_Test_Test_Field_4_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Test Field 5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Test_Field_5__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_Test_Test_Field_5_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Test Field 6</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Test_Field_6__c</field>
            <value>
                <elementReference>formula_8_myRule_1_A1_Test_Test_Field_6_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Test Field 7</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Test_Field_7__c</field>
            <value>
                <elementReference>formula_9_myRule_1_A1_Test_Test_Field_7_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Test Field 8</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Test_Field_8__c</field>
            <value>
                <elementReference>formula_10_myRule_1_A1_Test_Test_Field_8_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Test Test Field 9</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Test_Test_Field_9__c</field>
            <value>
                <elementReference>formula_11_myRule_1_A1_Test_Test_Field_9_c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
